/*
 * 全体の設定
 */

/* カスタムデフォルトボタン */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #707070;
  background-color: #fff;
  /* background-color: white; */
  text-shadow: none; /* `body`からの継承を防ぐ */
}


/*
 * ベース構造
 */

body {
    margin:0;
    background-color: #FFF9D9;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

header{
    background-color: #FCABAB;
}
/*
 * ヘッダ
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

h3{
    color: #707070;
}

/* .gacha{
  position: relative;
} */

.gacha img{
  width: 40%;
}

.gacha button {
  background: rgba(252,171,171,0.5);
  position:absolute;
  width:30%;
  height:15%;
  top:55%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: x-large;
}